body {
     background-color: #e8e4da;
     color:#017520;
   }

#input {
     display:inline-block;
     width: 100%;
}
#clear {
  margin-left: 0rem;
}
#url {
  width: 40%;
}
.buttons {
  background-color: #fa574b;
  color: #fff;
  margin-left: -1rem;
}